<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Curriculum Vitae - Chiu Yong Chang</title>

  <!-- Bootstrap core CSS -->
  <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">  

  <!-- Custom fonts for this template -->
  <link href="https://fonts.googleapis.com/css?family=Saira+Extra+Condensed:500,700" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Muli:400,400i,800,800i" rel="stylesheet">
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet">
  <link href="fonts/font-awesome.min.css" rel="stylesheet">
  <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet">


  <!-- Custom styles for this template -->
  <link href="css/main.min.css" rel="stylesheet">
  <link href="css/portfolio.min.css" rel="stylesheet">
  
  <!-- Plugin CSS -->
  <link href="vendor/magnific-popup/magnific-popup.css" rel="stylesheet" type="text/css">

</head>

<body id="page-top">
  <div id="app" class="content">
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top" id="sideNav">
      <a class="navbar-brand js-scroll-trigger" href="#page-top">
        <span class="d-block d-lg-none color-white">Chiu Yong Chang</span>
        <span class="d-none d-lg-block">
          <img class="img-fluid img-profile rounded-circle mx-auto mb-2" src="img/profile.jpg" alt="">
        </span>
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav">
          <li class="nav-item" v-for="(item, index) in data.navbar" :key="index" v-show="index < data.navbar.length - 1">
            <a class="nav-link js-scroll-trigger" :href="`#${item.link}`">{{item.label}}</a>
          </li>
        </ul>
      </div>
      <div class="switch-lang-wrapper">
        <h5 class="color-white">{{data.navbar[data.navbar.length - 1].label}}</h5>
        <img src="img/br.png" id="pt-br" class="flag" alt="brazilian" @click="handleSwitchLanguage('portuguese')">
        <img src="img/usa.png" id="en-us" class="flag" alt="english" style="margin-left: 8px;" @click="handleSwitchLanguage('english')">
      </div>
    </nav>
    <div class="container-fluid p-0">

      <section class="resume-section p-3 p-lg-5 d-flex align-items-center color-white section-style-blue" id="about-me">
        <div class="w-100 container-style">
          <h1 class="mb-0 color-white typing" >
            <span class="text-primary">
              Chiu
            </span>
            Yong
            Chang
          </h1>
          <div class="subheading mb-5">{{data.about.subtitle}}
          </div>
          <p class="lead mb-5" v-html="data.about.description"></p>
          
          <div class="lead mb-3">
            <a title="" href="docs/chiu-cv.pdf" rel="" class="btn-download animated  " style="font-size: 12px; width:175px;" target="">
              Curriculum-Vitae
              <i class="fa fa-download"></i>
            </a>
          </div>
          <div class="lead mb-5">
            <a title="" href="docs/SIG@UFPE.pdf" rel="" class="btn-download animated  " style="font-size: 12px; width:175px;" target="">
              {{data.about.bottomBtn}}
              <i class="fa fa-download"></i>
            </a>
          </div>
          
          <div class="social-icons" >
            <a href="https://www.linkedin.com/in/chiu-yong-chang-38b714140/">
              <i class="fab fa-linkedin-in"></i>
            </a>
            <a href="https://github.com/chiuyong">
              <i class="fab fa-github"></i>
            </a>
            <a href="https://www.instagram.com/chiu.yc">
                <i class="fab fa-instagram"></i>
            </a>
          </div>        
        </div>
        
      </section>

      <hr class="m-0">

      <section class="resume-section p-3 p-lg-5 section-style-grey" id="experiences">
        <div class="w-100 container-style">
          <h2 class="mb-5">{{data.navbar[1].label}}</h2>
          <div v-for="(item, i) in data.experience" :key="`experience${i}`" v-show="i < data.experience.length - 1">
            <div class="resume-item d-flex flex-column flex-md-row justify-content-between mb-5">
              <div class="resume-content">
                <h3 class="mb-0">{{item.title}}</h3>
                <div class="subheading mb-3">{{item.subtitle}}</div>
                <p align="justify" v-html="item.description"></p>
              </div>            
              <div class="resume-date text-md-right">
                <span class="text-secondary">{{item.date}}</span>
              </div>
            </div>
          </div>

          <div class="resume-item d-flex flex-column flex-md-row justify-content-between">
            <div class="resume-content">
              <h3 class="mb-0">{{data.experience[data.experience.length - 1].title}}</h3>
              <div class="subheading mb-3" v-html="data.experience[data.experience.length - 1].subtitle"></div>
              <p>{{data.experience[data.experience.length - 1].description}}</p>
            </div>
            <div class="resume-date text-md-right">
              <span class="text-secondary">{{data.experience[data.experience.length - 1].date}}</span>
            </div>
          </div>

        </div>

      </section>

      <hr class="m-0">

      <section class="resume-section p-3 p-lg-5 d-flex align-items-center" id="education">
        <div class="w-100 container-style">
          <h2 class="mb-5">{{data.navbar[2].label}}</h2>

          <div class="resume-item d-flex flex-column flex-md-row justify-content-between mb-5">
            <div class="resume-content">
              <h3 class="mb-0">{{data.education.title}}</h3>
              <div class="subheading mb-3">{{data.education.subtitle}}</div>
              <p>{{data.education.end}} <span style="font-weight: 800">2020.2</span></p>
              <p>{{data.education.overallAverage}} <span style="font-weight: 800">8,58</span></p>
              <p>{{data.education.cre}} <span style="font-weight: 800">8,63</span></p>
              <p>{{data.education.location}}</p>
            </div>
            <div class="resume-date text-md-right">
              <span class="text-secondary">{{data.education.date}}</span>
            </div>
          </div>

        </div>
      </section>

      <hr class="m-0">

      <section class="resume-section p-3 p-lg-5 d-flex align-items-center section-style-blue color-white" id="skills">
        <div class="w-100 container-style">
          <h2 class="mb-5 color-white">{{data.navbar[3].label}}</h2>

          <div class="subheading mb-3" v-html="data.skills.subtitle"></div>
          
          <ul class="list-inline dev-icons" style="color: #1B242F">
            <li class="list-inline-item" v-for="(icon, index) in data.skills.icons" :key="`skill${index}`">
              <i :class="`fab ${icon}`"></i>
            </li>            
          </li>
          </ul>
          <div class="subheading mb-3">{{data.skills.workflow}}</div>
          <ul class="fa-ul mb-0">
            <li v-for="(item, index) in data.skills.workflowList" :key="`workflow${index}`">
              <i class="fa-li fa fa-check check-green"></i>
              <span v-html="item"></span>
            </li>
          </ul>
          <br>
          <div class="subheading mb-3">{{data.skills.softSkills}}</div>
          <ul class="fa-ul mb-0">
            <li v-for="(skill, index) in data.skills.softSkillsList" :key="`softSkill${index}`">
              <i class="fa-li fa fa-check check-green"></i>
              <span v-html="skill"></span>
            </li>
          </ul>

        </div>
      </section>

      <hr class="m-0">

      <section class="resume-section p-3 p-lg-5 d-flex align-items-center section-style-grey" id="interests">
        <div class="w-100 container-style">
          <h2 class="mb-5">{{data.navbar[4].label}}</h2>
          <p align="justify">
            {{data.interests.subtitle}}
          </p>                
          <p align="justify" class="mb-0" v-html="data.interests.list"></p>
        </div>
      </section>

      <hr class="m-0">

      <section class="resume-section p-3 p-lg-5 d-flex align-items-center section-style" id="certifications">
        <div class="w-100">
          <h2 class="mb-5">{{data.navbar[5].label}}</h2>
          <ul class="fa-ul mb-0">
            <li v-for="(item, index) in data.certifications.list" :key="`certification${index}`">
              <i class="fa-li fa fa-trophy text-warning"></i>
              <span v-html="item.label" :class="{ 'font-weight-bold certification-option': item.link }" @click="handleCertificationClick(item)"></span>
            </li>
          </ul>
        </div>
      </section>

      <hr class="m-0">

      <section class="resume-section p-3 p-lg-5 d-flex align-items-center portfolio section-style-blue" id="portfolio" style="padding-bottom: 50px!important;">
        <div class="w-100" style="padding-bottom: 5rem!important; padding-top: 5rem!important; max-width: 75rem!important;">
          <h2 class="mb-5 color-white">{{data.navbar[6].label}}</h2>
          <div class="row">

            <div class="col-md-6 col-lg-4">
              <h4 class="text-center subheading mb-3 color-white" style="font-weight: 800"> Feiralize - App </h4>
              <a class="portfolio-item d-block mx-auto" href="#portfolio-modal-0">
                <div class="portfolio-item-caption d-flex position-absolute h-100 w-100">
                  <div class="portfolio-item-caption-content my-auto w-100 text-center text-white">
                    <i class="fa fa-search-plus fa-3x"></i>
                  </div>
                  <div class="position-absolute" style="right: 0.8rem; padding-top: 0.5rem;">
                    <span class="text-light" style="font-size: 60%; font-weight: bold;"> CLIQUE PARA MAIS INFORMAÇÕES </span>
                  </div>
                </div>
                <img class="img-fluid" src="img/Portfolio/Feiralize/feiralize.png" alt="" style="height: 100%!important; width: 100%!important;">
              </a>
            </div>

            <div class="col-md-6 col-lg-4">
              <h4 class="text-center subheading mb-3 color-white" style="font-weight: 800"> Santenergy - WEB </h4>
              <a class="portfolio-item d-block mx-auto" href="#portfolio-modal-0">
                <div class="portfolio-item-caption d-flex position-absolute h-100 w-100">
                  <div class="portfolio-item-caption-content my-auto w-100 text-center text-white">
                    <i class="fa fa-search-plus fa-3x"></i>
                  </div>
                  <div class="position-absolute" style="right: 0.8rem; padding-top: 0.5rem;">
                    <span class="text-light" style="font-size: 60%; font-weight: bold;"> CLIQUE PARA MAIS INFORMAÇÕES </span>
                  </div>
                </div>
                <img class="img-fluid" src="img/Portfolio/Feiralize/feiralize.png" alt="" style="height: 100%!important; width: 100%!important;">
              </a>
            </div>

            <div class="col-md-6 col-lg-4">
              <h4 class="text-center subheading mb-3 color-white" style="font-weight: 800"> OIG CAPITAL - WEB </h4>
              <a class="portfolio-item d-block mx-auto" href="#portfolio-modal-0">
                <div class="portfolio-item-caption d-flex position-absolute h-100 w-100">
                  <div class="portfolio-item-caption-content my-auto w-100 text-center text-white">
                    <i class="fa fa-search-plus fa-3x"></i>
                  </div>
                  <div class="position-absolute" style="right: 0.8rem; padding-top: 0.5rem;">
                    <span class="text-light" style="font-size: 60%; font-weight: bold;"> CLIQUE PARA MAIS INFORMAÇÕES </span>
                  </div>
                </div>
                <img class="img-fluid" src="img/Portfolio/oigcapital.png" alt="" style="height: 100%!important; width: 100%!important;">
              </a>
            </div>

          </div>
        </div>
      </section>

      <p align="center" class="footer-style">
          Copyright © 2023 Desenvolvido por cyc. Todos os direitos reservados.
      </p>

      <!-- Portfolio Modal 1 -->
    <div class="portfolio-modal mfp-hide" id="portfolio-modal-0">
        <div class="portfolio-modal-dialog bg-primary color-white">
          <a class="close-button d-none d-md-block portfolio-modal-dismiss" href="#">
            <i class="fa fa-3x fa-times"></i>
          </a>
          <div class="container text-center">
            <div class="row">
              <div class="col-lg-6 mx-auto">
                <div class="wrapper">
                  <input checked type=radio name="slider" id="slide1" />
                  <input type=radio name="slider" id="slide2" />
                  <input type=radio name="slider" id="slide3" />
                  <input type=radio name="slider" id="slide4" />
                
                  <div class="slider-wrapper">
                    <div class=inner>
                      <article>
                        <div class="info top-left">
                          <h3>Login</h3></div>
                        <img src="img/Portfolio/feiralize-login.jpeg" />
                      </article>
                
                      <article>
                        <div class="info bottom-right">
                          <h3>Lista de Produtos</h3></div>
                        <img src="img/Portfolio/feiralize-lista.jpeg" />
                      </article>
                
                      <article>
                        <div class="info bottom-left">
                          <h3>Histórico de Compras</h3></div>
                        <img src="img/Portfolio/feiralize-historico.jpeg" />
                      </article>
                
                      <article>
                        <div class="info top-right">
                          <h3>Lista de Pedidos</h3></div>
                        <img src="img/Portfolio/feiralize-supermercado.jpeg" />
                      </article>
          
                    </div>
                    <!-- .inner -->
                  </div>
                  <!-- .slider-wrapper -->
                
                  <div class="slider-prev-next-control">
                    <label for=slide1></label>
                    <label for=slide2></label>
                    <label for=slide3></label>
                    <label for=slide4></label>
                  </div>
                  <!-- .slider-prev-next-control -->
                
                  <div class="slider-dot-control">
                    <label for=slide1></label>
                    <label for=slide2></label>
                    <label for=slide3></label>
                    <label for=slide4></label>
                  </div>
                  <!-- .slider-dot-control -->
                </div>
                <p class="mb-5" style="text-align: justify;">                
                  <b>Plataforma:</b> Android <br>
                  <b>Servidor:</b> Firebase/Firestore <br>
                  <b>Ferramentas:</b> VSCode, Github <br>                
                  <b>Linguagem:</b> JavaScript <br>
                  <b>Framework:</b> React Native <br>                                
                </p>
                <a class="btn-download portfolio-modal-dismiss" href="#">
                  <i class="fa fa-close"></i>
                  Fechar</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


<!-- The core Firebase JS SDK is always required and must be listed first -->
<script src="https://www.gstatic.com/firebasejs/6.2.4/firebase-app.js"></script>

<!-- TODO: Add SDKs for Firebase products that you want to use
     https://firebase.google.com/docs/web/setup#config-web-app -->

<script>
  // Your web app's Firebase configuration
  var firebaseConfig = {
    apiKey: "AIzaSyATieATSb_WTDqE6jxFSd41X4u1X-woLTM",
    authDomain: "chiu-yc.firebaseapp.com",
    databaseURL: "https://chiu-yc.firebaseio.com",
    projectId: "chiu-yc",
    storageBucket: "",
    messagingSenderId: "911248397466",
    appId: "1:911248397466:web:f57bdf1229eed827"
  };
  // Initialize Firebase
  firebase.initializeApp(firebaseConfig);
</script>

  <!-- Bootstrap core JavaScript -->
  <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <!-- Plugin JavaScript -->
  <script src="vendor/jquery-easing/jquery.easing.min.js"></script>
  <script src="vendor/magnific-popup/jquery.magnific-popup.min.js"></script>
  <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>

  <!-- Custom scripts for this template -->
  <script src="js/data.json"></script>
  <script src="js/main.min.js"></script>
  <script src="js/portfolio.min.js"></script>
  <script type="module">
    import json from './js/data.json' assert { type: 'json' }
    const { createApp } = Vue
    createApp({
      data() {
        return {
          data: null,
          defaultLanguage: 'portuguese'
        }
      },
      methods: {
        handleSwitchLanguage(lang) {
          this.defaultLanguage = lang
          this.setData()
        },
        setData() {          
          this.data = json[this.defaultLanguage]
        },
        handleCertificationClick(item) {
          if(item.link) window.open(item.link, '_blank', 'noreferrer');
        }
      },
      created() {
        this.setData()
      },
    }).mount('#app')
  </script>

</body>

</html>
